doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/button.css')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  body
    div
      input(src="../images/theC.png", type="image", id="theC")
    div(id="counter")= cudos

    script(type="text/javascript").
      buttonEnabled = new Boolean(1);
      var theC = document.getElementById("theC");
      var counter = document.getElementById("counter");
      clicked = false;
      theC.onclick=function(){ 
        $.post( "#{url}", { cudos: parseInt("#{cudos}")+1, bid: "#{bid}", link: "#{link}"} );

        if (clicked == false) {
           $("#counter").text(parseInt(#{cudos})+1)
           $("#theC").css("opacity", "0.7")
           clicked = true
        }
       

        if (counter.style.opacity == 0) {
          $("#counter").fadeIn()
        }
        else {
          $("#counter").fadeOut()
        }

        if(buttonEnabled){
          buttonEnabled=0;
          theC.style.opacity= '0.5';
        }
        else{
          buttonEnabled=1;
          theC.style.opacity= '';
        }
      };
