extends layout
block content
	ol
		- n = parseInt(page) + 1
		- b = parseInt(page) - 1
		for site in links
			li
				a(href="#{site.link}") #{site.title}

				label(style="color: #ff6b54") &nbsp;&nbsp; #{site.cudos}
	if page <= 0
		form(method="get")
			input(type="hidden" name="page" value="#{n}")
			input(type="submit", value="next", style="outline: none; box-shadow: none; padding: 1%; font-size: 100%; font-color: #ff6b54")
	else
		form(method="get")
			input(type="hidden" name="page" value="#{b}" )
			input(type="submit", value="back", style="outline: none; box-shadow: none; font-color: #ff6b54; padding: 1%; font-size: 100%")
		form(method="get")
			input(type="hidden" name="page" value="#{n}")
			input(type="submit", value="next", style="outline: none; box-shadow: none; padding: 1%; font-size: 100%; font-color: #ff6b54")